

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 0.5rem;
    position: relative;
    top: 20px;
}

.navbar a {
    color: #EEE;
    padding: 1rem 1.5rem;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
}

.navbar a:hover {
    background-color: #222;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #EEE;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.7rem 1rem;
    position: absolute;
    z-index: 1;
    top: -45px;
    left: -50%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}